.product-card {
    display: flex;
    padding-top: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 1vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
}
h3{
    text-wrap: wrap;
    width: 30vh;
}
p{
    text-wrap: wrap;
    display: flex;
    width:50vh;

}