/* src/components/NavBar/NavBar.css */
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #4CAF50;
  color: white;
}

.navLogo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.logoutButton {
  text-align: center;
  padding: 0.25rem;
  border: none;
  width: 100px;
  border-radius: 5px;
  background-color: #af4c4c;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navLinks a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.navLinks a:hover {
  text-decoration: underline;
}